{% extends 'blog/base.html' %}
{% block content %}
    {% comment %} <h6>Contact Information:</h6>
    <p><span style='color: grey'>Telephone: </span>+99542141654646</p>
    <p><span style='color: grey'>Email: </span>Blog@company.com</p>
    <p><span style='color: grey'>Address: </span>Somewhere street 258b</p> {% endcomment %}
    <div class="col-xs-2">
        <div class="content-section">
          <h3>Contact Information</h3>
          <p class='text-muted'>Contact us through:
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><span style='color: grey'>Telephone: </span>+321 4582 22 987</li>
              <li class="list-group-item list-group-item-light"><span style='color: grey'>Email: </span>Ragaca@company.com</li>
              <p class='text-muted'>Or visit us at:
              <li class="list-group-item list-group-item-light"><span style='color: grey'>Address: </span>Somewhwre street, 137b</li>
            </ul>
          </p>
        </div>
    </div>    

{% endblock %}