{% extends 'blog/base.html' %}
{% block content %}
    <div class="col-xs-2">
        <div class="content-section">
          <h3>Contact Information</h3>
          <p class='text-muted'>Contact us through:
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><span style='color: grey'>Telephone: </span>+321 4582 22 987</li>
              <li class="list-group-item list-group-item-light"><span style='color: grey'>Email: </span>Ragaca@company.com</li>
              <p class='text-muted'>Or visit us at:
              <li class="list-group-item list-group-item-light"><span style='color: grey'>Address: </span>Somewhwre street, 137b <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.478148520255!2d41.6304695147178!3d41.645410087923885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406786147a8c400d%3A0x385356ed9d46211!2sKazbegi%20St%2C%20Batumi!5e0!3m2!1sen!2sge!4v1644320889961!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></li>
            </ul>
          </p>
        </div>
    </div>    

{% endblock %}